@model IEnumerable<CoreKitaplik.Models.Kitaplar>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>YAZAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Id</td>
            <td>@k.KitapAd</td>
            <td>@k.Yazar</td>
        </tr>
    }
</table>
