
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
</head>
<body>
    <div>
        @ViewBag.deger1
        <br />
        @ViewBag.deger2
        <br />
        @ViewBag.deger3
    </div>
</body>
</html>
